@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: lora;
  src: url("../fonts/lora/static/Lora-Regular.ttf");
}

@font-face {
  font-family: inter;
  src: url("../fonts/inter/static/Inter-Regular.ttf");
}

@font-face {
  font-family: inconsolata;
  src: url("../fonts/inconsolata/static/Inconsolata-Regular.ttf");
}

@layer base {
  body {
    @apply font-serif;
  }
}

@layer components {
  .dropdown-text {
    @apply cursor-pointer py-1 text-center hover:font-bold;
  }
  .dropdown-text:hover {
    @apply text-electricViolet;
  }

  .font-txt-serif {
    @apply font-serif;
  }
  .font-txt-sans {
    @apply font-sans;
  }
  .font-txt-mono {
    @apply font-mono;
  }

  .switch-dark-mode {
    @apply h-6 w-11 rounded-full after:absolute after:start-[2px] after:top-[2px] after:h-5 after:w-5 after:rounded-full after:border after:bg-white after:transition-all after:content-['']  dark:border-scorpion dark:bg-scorpion;
  }
}
