@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: lora;
  src: url("../fonts/lora/static/Lora-Regular.ttf");
}

@layer base {
  body {
    font-family: lora;
  }
}

@layer components {
  .dropdown-text {
    @apply cursor-pointer py-1 text-center hover:font-bold;
  }

  .custom-style-list {
    list-style-type: disc;
    color: #7d2cf2;
  }
}
